/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor-primaria: #f00505; 
    --cor-secundaria: #ffde22;
    --cor-fundo: #f2f2f2;
    --cor-texto: #333;
    --cor-branco: #fff;
    --cor-destaque: #f00505;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

/* Barra de navegação */
nav {
    background-color: var(--cor-primaria);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 40px;
    margin-right: 10px;
}

nav h1 {
    color: var(--cor-branco);
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor-secundaria);
}

/* Seções */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
}

ul li {
    margin: 10px 0;
}

/* Seção Personagens */
.personagens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.personagem {
    display: flex;
    
    text-align: justify;
    max-width: 250px;
}

.personagem img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.personagem h3 {
    font-size: 1.8rem;
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
