
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor-primaria: #f00505; 
    --cor-secundaria: #ffde22;
    --cor-fundo: #f2f2f2;
    --cor-texto: #333;
    --cor-branco: #fff;
    --cor-destaque: #f00505;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    line-height: 1.6;
}


nav {
    background-color: var(--cor-secundaria);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {

    width: 80px;
    margin-right: 20px;

}

nav h1 {
    color: var(--cor-primaria);
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor-destaque);
}


.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
}

ul li {
    margin: 10px 0;
}


.personagens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.personagem {
   
    
    text-align: justify;
    max-width: 250px;
}

.personagem img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.personagem h3 {
    font-size: 1.8rem;
    color: var(--cor-primaria);
    margin-bottom: 100px;
}

body {
    background-image: url(./imagens.png/subway.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    line-height: 1.4;
    color: #000000;
    padding: 1rem;
    margin: 0;
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
